body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

header img {
  width: 8rem;
  height: 2.5em;
}

nav {
  display: block;
  font-size: 12px;
  gap: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 5em 0 5em;
  margin-bottom: 5%;
}
