.hero-wrapper{
  background-color: #495E57;
  padding: 0 1em 0 1em;
}

.hero {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .hero { grid-template-columns: repeat(2, 2fr); }
}

@media (min-width: 900px) {
  .hero { grid-template-columns: repeat(2, 1fr); }
}

.hero .button{
    margin-top: 50px;
    background-color: #f4ce14;
    border-radius: 1.5em;
    color: rgb(0, 0, 0);
    width: 125px;
    height: 25px;
    text-align: center;
    padding: 10px 0 5px 0;
  }

  .hero img {
    padding: 25px 0 25px 0;
    width: 100%;
    height: 100%;
  }

  .hero-wrapper {
    height: 35em;
  }

