#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  
  #navbar li {
    list-style: none;
    display: inline-flex;
    margin-left: 25px;
  }

  #navbar a{
    text-decoration: none;
  }