#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  }

  #navbar li {
    list-style: none;
    display: inline-flex;
    margin: 0 4em 0 4em;
  }

  #navbar a{
    text-decoration: none;
    color: black;
    padding: 5px 8px 5px 8px;
  }

  #navbar a:hover{
    background-color: #495E57;
    color: aliceblue;
    border-radius: 10%;
  }