.special-card {
    padding: 10px;
    height: 25rem;
    width: 22rem;
  }

  .special-card > img {
    height: 15em;
    width: 22rem;
  }
  
  .specials {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }