.special-wrapper{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.special-title h3 {
  float:left;
}

.special-title button {
  float: right;
  margin: 10px 2em 0 0 ;
  background-color: #f4ce14;
  border-radius: 1.5em;
  color: rgb(0, 0, 0);
  width: 125px;
  height: 40px;
  text-align: center;
  padding: 10px 0 5px 15px;
}

.special-card {
    padding: 10px;
    height: 25rem;
    width: 22rem;
  }

  .special-card img {
    height: 15em;
    width: 22rem;
  }
  .specials {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
  @media (min-width: 600px) {
    .specials { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .specials { grid-template-columns: repeat(3, 1fr); }
  }

