.testimonial-title h3 {
  text-align: center;
}

.testimonial-card {
    padding: 1rem;
    height: auto;
    width: 15em;
  }

  .testimonial-card img {
    height: 10em;
    width: 13em;
  }
  
  .testimonials {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
  
  @media (min-width: 600px) {
    .testimonials { grid-template-columns: repeat(3, 1fr); }
  }
  
  @media (min-width: 900px) {
    .testimonials { grid-template-columns: repeat(4, 1fr); }
  }


